body{
    font-family: Arial;
    line-height: 25px;
}

img{
    width: 100%;
}

.column{
    width: 600px;
    margin: 40px auto;
    border: dotted 20px;
    padding: 50px;
}
p{
    border: solid 5px red;
    padding: 20px;
}
